@use '../abstracts' as *;

// Snackbar styles
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: $black;
  color: $white;
  text-align: center;
  border-radius: $small-border-radius;
  padding: 16px;
  position: fixed;
  z-index: $z-index-snackbar;
  left: 50%;
  bottom: $spacing-xl;

  &.show {
    visibility: visible;
    @include animation-fade;
  }

  &.success {
    background-color: $success-color;
  }

  &.error {
    background-color: $error-color;
  }

  &.info {
    background-color: $info-color;
  }
}
